* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  color: #191919;
}

.container {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.btn__primary, .btn__secondary {
  display: inline-block;
  padding: 10px 57px;
  border-radius: 45px;
  position: relative;
  border: 1px solid #b61984;
  background: #b61984;
  z-index: 10;
  cursor: pointer;
}

.btn__primary a, .btn__secondary a {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.btn__primary span, .btn__secondary span {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.btn__primary::after, .btn__secondary::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 45px;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(0.5, 0);
  transition: all 0.3s ease;
}

.btn__primary:hover.btn__primary::after, .btn__secondary:hover::after {
  transform: scale(1, 1);
}

.btn__primary:hover a, .btn__secondary:hover a,
.btn__primary:hover span,
.btn__secondary:hover span {
  color: #b61984;
  text-decoration: none;
}

.btn__secondary {
  background: #ffffff;
  padding: 10px 80px;
}

.btn__secondary a {
  font-size: 12px;
  font-weight: 600;
  color: #b61984;
  margin: 0;
  padding: 0;
}

.btn__secondary::after {
  background: #b61984;
}

.btn__secondary:hover {
  border: 1px solid #ffffff;
}

.btn__secondary:hover a {
  color: #ffffff;
  text-decoration: none;
}

.header {
  top: 0;
  z-index: 99;
  position: absolute;
  width: 100%;
}

.header .header__content .navbar {
  max-height: 5rem;
  padding: 0;
}

.header .header__content .navbar .navbar-brand img {
  width: 5rem;
}

.header .header__content .navbar .collapse .navbar-nav .nav-item a {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #181818;
  margin: 0;
  padding: 0;
  padding-right: 3.125rem;
  transition: all 0.1s linear;
}

.header .header__content .navbar .collapse .navbar-nav .nav-item a:hover {
  color: #b61984;
}

.header__social {
  margin-left: 0.3125rem;
}

.header__social a {
  line-height: 2.375rem;
  margin-left: 0.625rem;
}

.header__social a:hover i {
  color: #b61984;
}

.header__social a i {
  transition: all 0.3s ease;
}

.carousel {
  padding-top: 5rem;
  background-image: url(/images/yellow_top_wave_01.png), url(/images/Violet_top_left_wave.png);
  background-size: contain;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}

.carousel__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.carousel__info .txt__title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #b61984;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

.carousel__info .txt__header {
  font-size: 3.5625rem;
  font-weight: 700;
  color: #181818;
  margin: 0;
  padding: 0;
}

.team {
  background-image: url(/images/Wave_White_bottom_right_shape_01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #dcd1f0;
}

.team__content .col-md-3 {
  padding: 0 20px;
}

.team__content .team__item {
  border-radius: 0.625rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
  transition: all 650ms ease-in-out;
}

.team__content .team__item .team__item__info {
  background-color: #ffffff;
  padding: 1.875rem;
}

.team__content .team__item .team__item__info h5 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #b61984;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

.team__content .team__item .team__item__info h4 {
  font-size: 1.475rem;
  font-weight: 700;
  color: #191919;
  margin: 0;
  padding: 0;
  margin-bottom: 0.9375rem;
}

.team__content .team__item .team__item__info p {
  font-size: 0.9375rem;
  font-weight: 400;
  color: #191919;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.team__content .team__item .team__item__img {
  overflow: hidden;
}

.team__content .team__item .team__item__img:hover img {
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
  transform: scale(1.05);
}

.team__content .team__item .team__item__img img {
  transition: transform 650ms ease-in-out;
}

.team__content .team__item:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}

.registration {
  background-image: url(/images/accent_bottom_wave_01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.registration__form {
  max-width: 25rem;
  padding: 0 1.5625rem;
  border-radius: 0.625rem;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

.registration__form h3 {
  font-size: 2.3438rem;
  font-weight: 600;
  color: #181818;
  margin: 0;
  padding: 0;
}

.input-group .input-group-prepend span {
  border-top-left-radius: 3.125rem;
  border-bottom-left-radius: 3.125rem;
  background: transparent;
  border-right: none;
}

.input-group .input-group-prepend span i {
  color: #b61984;
}

.input-group input,
.input-group .custom-select {
  border-radius: 3.125rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: #191919;
  margin: 0;
  padding: 0;
  border-left: none;
  height: 2.8125rem;
}

.input-group input:focus,
.input-group .custom-select:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
  border-left: none;
}

.custom-select {
  cursor: pointer;
}

.custom-select option {
  font-size: 0.75rem;
  font-weight: 400;
  color: #191919;
  margin: 0;
  padding: 0;
}

.registration__form__message {
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 20px;
}

.registration__form__message i {
  color: #b61984;
  margin-left: 5px;
}

.registration__form__message textarea {
  padding: 0.375rem 0.75rem;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 400;
  color: #191919;
  margin: 0;
  padding: 0;
  margin-left: 0.625rem;
  border: none;
}

.registration__form__message textarea:focus {
  outline: none;
}

.footer {
  background-image: url(/images/footer_background.jpg);
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: center;
  height: 32.8125rem;
  padding-top: 8rem;
}

.fa {
  color: #ffffff;
  margin: 0 0.9375rem 0 0;
  transition: all 0.3s ease;
  font-size: 0.9375rem;
  display: inline-block;
}

.fa:hover {
  color: #191919;
  text-decoration: none;
}

.footer__item {
  padding: 0 1.5625rem;
}

.footer__item h3 {
  font-size: 23.25px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.footer__item p,
.footer__item > a {
  font-size: 13.5px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  display: block;
}

.footer__item > a {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.footer__item > a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.footer__item input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3.125rem;
  padding: 10px;
  transition: all 0.3s ease;
  text-align: center;
  caret-color: #ffffff;
  margin-bottom: 0.625rem;
}

.footer__item input::placeholder {
  font-size: 13.5px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer__item input:focus {
  border: 1px solid #ffffff;
  outline: none;
}
/*# sourceMappingURL=style.css.map */