@media screen and (max-width: 576px) {
  .header {
    background-color: $bg-color;
    .header__content {
      // padding: 0 2rem;
      .navbar {
        padding: 0 2rem;
        margin: 0 auto;
        button:focus {
          outline: none;
        }
        .navbar-brand {
          margin: 0 0 0 2rem;
          padding: 0;
          img {
            width: 48px;
          }
        }
        .navbar-toggler {
          i {
            color: $header-color;
            font-size: 1.5rem;
            margin-right: 2rem;
          }
        }
        .collapse {
          background-color: $bg-color;
          .navbar-nav {
            .nav-item {
              a {
                padding: 0;
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }
  }

  .top-header {
    background-color: $bg-color;
  }
  .custom-header {
    box-shadow: none;
    background-color: transparent;
    visibility: hidden;
  }

  .carousel__content,
  .team__content {
    padding: 0 2rem;
  }

  .carousel__info {
    .txt__title {
      font-size: 0.9375rem;
    }
    .txt__header {
      font-size: 2.9375rem;
    }
  }
  .registration {
    padding: 0 2rem;
    .registration__form {
      margin: 0 auto;
    }
  }
  .footer {
    background-size: cover;
    padding: 2rem 2rem;
    background-size: auto;
    .footer__item {
      padding-bottom: 2rem;
      input,
      .btn__secondary {
        width: 190px;
      }
    }
  }
}
