.carousel {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background-image: url("../images/yellow_top_wave_01.png"),
    url("../images/Violet_top_left_wave.png");
  background-size: contain, contain;
  background-position: top center, center bottom;
  background-repeat: no-repeat;
}

.carousel__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .txt__title {
    @include styleText(16.5px, 600, $primary-color);
    margin-bottom: 0.5rem;
  }
  .txt__header {
    @include styleText(3.5625rem, 700, $header-color);
  }
}
