.header {
  top: 0;
  z-index: 99;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  .header__content {
    .navbar {
      .navbar-brand {
        img {
          width: 5rem;
        }
      }
      .collapse {
        .navbar-nav {
          .nav-item {
            a {
              @include styleText(0.8125rem, 600, $header-color);
              padding-right: 3.125rem;
              transition: all 0.1s linear;
            }
            a:hover {
              color: $primary-color;
            }
          }
          .btn__primary {
            margin: 0.375rem;
            padding: 8px 20px;
          }
        }
      }
    }
  }
}

.header__social {
  a {
    line-height: 2.375rem;
    .fa {
      margin: 0 0 0 0.625rem;
    }
    &:hover i {
      color: $primary-color;
    }
    i {
      transition: all 0.3s ease;
      color: $header-color;
    }
  }
}
