.header {
  top: 0;
  z-index: 99;
  position: absolute;
  width: 100%;
  .header__content {
    .navbar {
      max-height: 5rem;
      padding: 0;
      .navbar-brand {
        img {
          width: 5rem;
        }
      }
      .collapse {
        .navbar-nav {
          .nav-item {
            a {
              @include styleText(0.8125rem, 600, $header-color);
              padding-right: 3.125rem;
              transition: all 0.1s linear;
            }
            a:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.header__social {
  margin-left: 0.3125rem;
  a {
    line-height: 2.375rem;
    margin-left: 0.625rem;
    &:hover i {
      color: $primary-color;
    }
    i {
      transition: all 0.3s ease;
    }
  }
}
