.registration {
  background-image: url(/images/accent_bottom_wave_01.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.registration__form {
  max-width: 25rem;
  padding: 0 1.5625rem;
  h3 {
    @include styleText(2.3438rem, 600, $header-color);
  }
  border-radius: 0.625rem;
  box-shadow: 0 30px 30px -10px rgba(0,0,0,.2);
  background: $bg-color;
}

.input-group {
  .input-group-prepend {
    span {
      border-top-left-radius: 3.125rem;
      border-bottom-left-radius: 3.125rem;
      background: transparent;
      border-right: none;
      i {
        color: $primary-color;
      }
    }
  }
  input,
  .custom-select {
    border-radius: 3.125rem;
    @include styleText(0.75rem, 400, $font-color);
    border-left: none;
    height: 2.8125rem;
    &:focus {
      box-shadow: none;
      border: 1px solid #ced4da;
      border-left: none;
    }
  }
}

.custom-select {
  option {
    @include styleText(0.75rem, 400, $font-color);
  }
  cursor: pointer;
}

.registration__form__message {
  padding: 0.375rem 0.75rem;
  i {
    color: $primary-color;
    margin-left: 5px;
  }
  border: 1px solid #ced4da;
  border-radius: 20px;
  textarea {
    padding: 0.375rem 0.75rem;
    width: 100%;
    @include styleText(0.75rem, 400, $font-color);
    margin-left: 0.625rem;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
