.registration {
  background-image: url("../images/accent_bottom_wave_01.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.registration__form {
  max-width: 25rem;
  padding: 0 1.5625rem;
  h3 {
    @include styleText(2.3438rem, 600, $header-color);
  }
  border-radius: 0.625rem;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  background: $bg-color;
}

.registration__input {
  padding-bottom: 0.9375rem;
  display: flex;
  .registration__input__item {
    position: relative;
    i {
      color: $primary-color;
      position: absolute;
      top: 0;
      left: 1rem;
      line-height: 2.8125rem;
    }
    input {
      display: inline;
      @include styleText(0.75rem, 400, $font-color);
      height: 2.8125rem;
      padding-left: 3rem;
      border-radius: 2.8125rem;
      &:focus {
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: none;
      }
    }
    &:first-child {
      margin-right: 0.625rem;
    }
  }
}

.registration__select {
  padding-bottom: 0.9375rem;
  position: relative;
  display: flex;
  i {
    color: $primary-color;
    position: absolute;
    top: 0;
    left: 1rem;
    line-height: 2.8125rem;
    &:hover {
      color: $primary-color;
    }
  }
  .registration__select__item {
    display: block;
    width: 100%;
    height: 2.8125rem;
    @include styleText(0.75rem, 400, $font-color);
    padding-left: 3rem;
    border-radius: 2.8125rem;
    border: 1px solid #ced4da;
    &:focus {
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
    option {
      @include styleText(0.75rem, 400, $font-color);
    }
  }
}

.registration__message {
  display: flex;
  position: relative;
  i {
    color: $primary-color;
    position: absolute;
    top: 0;
    left: 1rem;
    line-height: 2.8125rem;
  }
  textarea {
    width: 100%;
    border-radius: 1.25rem;
    border: 1px solid #ced4da;
    @include styleText(0.75rem, 400, $font-color);
    padding-top: 0.9rem;
    padding-left: 3rem;
    &:focus-visible {
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}
